<!--  Banner Section -->
<section class="banner-section position-relative d-flex align-items-end min-vh-100">
    <video class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" autoplay muted loop playsinline>
        <source src="~/Studiova-1.0.0/assets/images/backgrounds/hagatvideo.mp4" type="video/mp4" />
    </video>
    <div class="container">
        <div class="d-flex flex-column gap-4 pb-8 position-relative z-1">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <div class="d-flex align-items-center gap-4" data-aos="fade-up" data-aos-delay="100"
                         data-aos-duration="1000">
                        <img src="~/Studiova-1.0.0/assets/images/svgs/rocket-top.svg" alt="" class="img-fluid animate-spin">
                        <p class="mb-0 text-white fs-5 text-opacity-70">
                            Defence with <span class="text-danger">high and precise</span> technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-end gap-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                <h1 class="mb-0 fs-16 text-white lh-1">Studiova</h1>
               
                </a>
            </div>
        </div>
    </div>
</section>