<!-- Featured Projects Section -->
<div id="ProductPartial">
    <section class="meet-our-team py-5 py-lg-11 py-xl-12" style="background-color:#000333;">
       

        <div class="d-flex flex-column gap-5 gap-xl-11">
          
            <!-- Üst Başlık ve Açıklama -->
                <div id="ProductPartial" style="margin-top:150px;">

            <div class="container text-white">
                <div class="row gap-7 gap-xl-0">
                    <div class="col-xl-4 col-xxl-4">
                        <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                             data-aos-duration="1000">
                             <span class="round-45 flex-shrink-0 text-white rounded-circle hstack justify-content-center fw-medium" style="background-color:#940000; font-size:1.2rem;">2</span>
                            <hr class="border-line bg-white">
                                <span class="badge text-bg-dark">Products</span>
                        </div>

                    </div>
                    <div class="col-xl-8 col-xxl-7">
                        <div class="row">
                            <div class="col-xxl-8">
                                <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                                     data-aos-duration="1000">
                                    <h2 class="mb-0 text-white">Products</h2>
                                    <p class="fs-5 mb-0 text-white-50">
                                        A glimpse into our creativity—exploring innovative designs, successful
                                        collaborations, and transformative digital experiences.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!-- Slider Bölümü -->
            <div class="featured-projects-slider px-3">
                <div class="owl-carousel owl-theme">
                    <!-- Item 2 -->
                    <div class="item">
                        <div class="portfolio d-flex flex-column gap-6 text-white">
                            <div class="portfolio-img position-relative overflow-hidden">
                                <img src="~/Studiova-1.0.0/assets/images/portfolio/1.jpg" alt="" class="img-fluid">
                                <div class="portfolio-overlay">
                                    <a asp-controller="HomePage" asp-action="FfarPartial"
                                       class="position-absolute top-50 start-50 translate-middle round-64 rounded-circle hstack justify-content-center" style="background-color:#940000;">
                                        <iconify-icon icon="lucide:arrow-up-right" class="fs-8 text-white"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-details d-flex flex-column gap-3">
                                <h4 class="mb-0 text-white">2,75inch Folding Fin Aircraft Rocket (FFAR)</h4>
                                <div class="hstack gap-2">
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Web development</span>
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Digital design</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item 1 -->
                    <div class="item">
                        <div class="portfolio d-flex flex-column gap-6 text-white">
                            <div class="portfolio-img position-relative overflow-hidden">
                                <img src="~/Studiova-1.0.0/assets/images/portfolio/2.jpg" alt="" class="img-fluid">
                                <div class="portfolio-overlay">
                                    <a asp-controller="HomePage" asp-action="MlrsPartial"
                                       class="position-absolute top-50 start-50 translate-middle round-64 rounded-circle hstack justify-content-center" style="background-color:#940000;">
                                        <iconify-icon icon="lucide:arrow-up-right" class="fs-8 text-white"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-details d-flex flex-column gap-3">
                                <h4 class="mb-0 text-white">122mm Multi Launcher Rocket System (MLRS) Components</h4>
                                <div class="hstack gap-2">
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">UX Strategy</span>
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">UI Design</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Item 4 -->
                    <div class="item">
                        <div class="portfolio d-flex flex-column gap-6 text-white">
                            <div class="portfolio-img position-relative overflow-hidden">
                                <img src="~/Studiova-1.0.0/assets/images/portfolio/4.jpg" alt="" class="img-fluid">
                                <div class="portfolio-overlay">
                                    <a asp-controller="HomePage" asp-action="WarheadsPartial"
                                       class="position-absolute top-50 start-50 translate-middle round-64 rounded-circle hstack justify-content-center" style="background-color:#940000;">
                                        <iconify-icon icon="lucide:arrow-up-right" class="fs-8 text-white"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-details d-flex flex-column gap-3">
                                <h4 class="mb-0 text-white">Warheads</h4>
                                <div class="hstack gap-2">
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Brand identity</span>
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Digital design</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Item 3 -->
                    <div class="item">
                        <div class="portfolio d-flex flex-column gap-6 text-white">
                            <div class="portfolio-img position-relative overflow-hidden">
                                <img src="~/Studiova-1.0.0/assets/images/portfolio/compositemast.jpg" alt="" class="img-fluid">
                                <div class="portfolio-overlay">
                                    <a asp-controller="HomePage" asp-action="CompositeMastPartial"
                                       class="position-absolute top-50 start-50 translate-middle round-64 rounded-circle hstack justify-content-center" style="background-color:#940000;">
                                        <iconify-icon icon="lucide:arrow-up-right" class="fs-8 text-white"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-details d-flex flex-column gap-3">
                                <h4 class="mb-0 text-white">Composite Mast System</h4>
                                <div class="hstack gap-2">
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">UI/UX design</span>
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Web development</span>
                                </div>
                            </div>
                        </div>
                    </div>

                 

                    <!-- Item 5 -->
                    <div class="item">
                        <div class="portfolio d-flex flex-column gap-6 text-white">
                            <div class="portfolio-img position-relative overflow-hidden">
                                <img src="~/Studiova-1.0.0/assets/images/portfolio/r1.jpg" alt="" class="img-fluid">
                                <div class="portfolio-overlay">
                                    <a href="projects-detail.html"
                                       class="position-absolute top-50 start-50 translate-middle round-64 rounded-circle hstack justify-content-center" style="background-color:#940000;">
                                        <iconify-icon icon="lucide:arrow-up-right" class="fs-8 text-white"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-details d-flex flex-column gap-3">
                                <h4 class="mb-0 text-white">Air Defence Systems</h4>
                                <div class="hstack gap-2">
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Photography</span>
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Studio</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Item 6 -->
                    <div class="item">
                        <div class="portfolio d-flex flex-column gap-6 text-white">
                            <div class="portfolio-img position-relative overflow-hidden">
                                <img src="~/Studiova-1.0.0/assets/images/portfolio/3.jpg" alt="" class="img-fluid">
                                <div class="portfolio-overlay">
                                    <a href="projects-detail.html"
                                       class="position-absolute top-50 start-50 translate-middle round-64 rounded-circle hstack justify-content-center" style="background-color:#940000;">
                                        <iconify-icon icon="lucide:arrow-up-right" class="fs-8 text-white"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="portfolio-details d-flex flex-column gap-3">
                                <h4 class="mb-0 text-white">Ignition Systems</h4>
                                <div class="hstack gap-2">
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Digital design</span>
                                    <span class="badge border border-white" style="border-color:#ffffff; color:#ffffff;">Web development</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </section>
</div>
