<!--  Services Section -->
<section class="featured-projects py-5 py-lg-11 py-xl-12 text-white"
         style="background-color:#000333; border-top:5px solid rgba(148, 0, 0, 1);">

    <div class="container">
        <div class="d-flex flex-column gap-5 gap-xl-10">
            <div class="row gap-7 gap-xl-0">
                <div class="col-xl-4 col-xxl-4">
                    <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                         data-aos-duration="1000">
                         <span class="round-45 flex-shrink-0 text-white rounded-circle hstack justify-content-center fw-medium" style="background-color:#940000; font-size:1.2rem;">3</span>
                        
                       
                        <hr class="border-line bg-white">
                        <span class="badge text-bg-dark">What We Do</span>
                    </div>
                </div>
                <div class="col-xl-8 col-xxl-7">
                    <div class="row">
                        <div class="col-xxl-8">
                            <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                                 data-aos-duration="1000">
                                <h2 class="mb-0 text-white">What we do</h2>
                                <p class="fs-5 mb-0 text-white text-opacity-70">
                                    A glimpse into our expertise exploring advanced defense technologies, successful military collaborations, and innovative artillery and missile systems.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-tab">
                <div class="row gap-5 gap-xl-0">
                    <div class="col-xl-4">
                        <div class="tab-content" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="1000">
                            <div class="tab-pane active" id="one" role="tabpanel" aria-labelledby="one-tab" tabindex="0">
                                <img src="~/Studiova-1.0.0/assets/images/services/whatwedobanner.jpg" alt="services" class="img-fluid">
                            </div>
                            <div class="tab-pane" id="two" role="tabpanel" aria-labelledby="two-tab" tabindex="0">
                                <img src="~/Studiova-1.0.0/assets/images/services/photo_5956346537305033847_x.jpg" alt="services" class="img-fluid">
                            </div>
                            <div class="tab-pane" id="three" role="tabpanel" aria-labelledby="three-tab" tabindex="0">
                                <img src="~/Studiova-1.0.0/assets/images/services/photo_5956346537305033826_y.jpg" alt="services" class="img-fluid">
                            </div>
                            <div class="tab-pane" id="four" role="tabpanel" aria-labelledby="four-tab" tabindex="0">
                                <img src="~/Studiova-1.0.0/assets/images/services/cnckompozit.jpg" alt="services" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="d-flex flex-column gap-5">
                            <ul class="nav nav-tabs" id="myTab" role="tablist" data-aos="fade-up" data-aos-delay="200"
                                data-aos-duration="1000">
                                <li class="nav-item py-4 py-lg-8 border-top border-white border-opacity-10 d-flex align-items-center w-100"
                                    role="presentation">
                                    <div class="row w-100 align-items-center gx-3">
                                        <div class="col-lg-6 col-xxl-5">
                                            <button class="nav-link fs-10 fw-bold py-1 px-0 border-0 rounded-0 flex-shrink-0 active"
                                                    id="one-tab" data-bs-toggle="tab" data-bs-target="#one" type="button" role="tab"
                                                    aria-controls="one" aria-selected="true">
                                                Rocket Components
                                            </button>
                                        </div>
                                        <div class="col-lg-6 col-xxl-7">
                                            <p class="text-white text-opacity-70 mb-0">
                                                Continues the production and development of 122mm ÇNRA and 2,75inch Aircraft Rocket components.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item py-4 py-lg-8 border-top border-white border-opacity-10 d-flex align-items-center w-100"
                                    role="presentation">
                                    <div class="row w-100 align-items-center gx-3">
                                        <div class="col-lg-6 col-xxl-5">
                                            <button class="nav-link fs-10 fw-bold py-1 px-0 border-0 rounded-0 flex-shrink-0" id="two-tab"
                                                    data-bs-toggle="tab" data-bs-target="#two" type="button" role="tab" aria-controls="two"
                                                    aria-selected="false">
                                                Filament Machine
                                            </button>
                                        </div>
                                        <div class="col-lg-6 col-xxl-7">
                                            <p class="text-white text-opacity-70 mb-0">
                                                Manufactures carbon or glass fibre reinforced composite launchers, rocket bodies and various warheads in various diameters and specifications with its own production Filament Winding Machine.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item py-4 py-lg-8 border-top border-white border-opacity-10 d-flex align-items-center w-100"
                                    role="presentation">
                                    <div class="row w-100 align-items-center gx-3">
                                        <div class="col-lg-6 col-xxl-5">
                                            <button class="nav-link fs-10 fw-bold py-1 px-0 border-0 rounded-0 flex-shrink-0"
                                                    id="three-tab" data-bs-toggle="tab" data-bs-target="#three" type="button" role="tab"
                                                    aria-controls="three" aria-selected="false">
                                                Manufacturing Process
                                            </button>
                                        </div>
                                        <div class="col-lg-6 col-xxl-7">
                                            <p class="text-white text-opacity-70 mb-0">
                                                Has the ability to produce special purpose machines and moulds to be used in the manufacturing process.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item py-4 py-lg-8 border-top border-white border-opacity-10 d-flex align-items-center w-100"
                                    role="presentation">
                                    <div class="row w-100 align-items-center gx-3">
                                        <div class="col-lg-6 col-xxl-5">
                                            <button class="nav-link fs-10 fw-bold py-1 px-0 border-0 rounded-0 flex-shrink-0"
                                                    id="four-tab" data-bs-toggle="tab" data-bs-target="#four" type="button" role="tab"
                                                    aria-controls="four" aria-selected="false">
                                                Motion & 3d modeling
                                            </button>
                                        </div>
                                        <div class="col-lg-6 col-xxl-7">
                                            <p class="text-white text-opacity-70 mb-0">
                                                Continues to work with the aim of producing and assembling all 122mm Multi Launcher Rocket System (MLRS) and 2,75inches Aircraft Rocket components within its own structure and selling the finished product.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <a href="#ProductPartial" class="btn border border-white border-opacity-25"
                               data-aos="fade-up"
                               data-aos-delay="300"
                               data-aos-duration="1000"
                               style="background-color:#940000; border-color:#940000;">
                                <span class="btn-text text-white">See our Work</span>
                                <iconify-icon icon="lucide:arrow-up-right"
                                              class="btn-icon bg-white text-dark round-52 rounded-circle hstack justify-content-center fs-7 shadow-sm"></iconify-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .nav-tabs .nav-link.active,
        .nav-tabs .nav-link.active:focus,
        .nav-tabs .nav-link.active:hover {
            color: #940000 !important;
        }
    </style>

</section>